# Node Modules
node_modules
frontend/node_modules
backend/node_modules
Backend/node_modules

# Angular
frontend/dist
frontend/.angular

# Environment
backend/.env
Backend/.env

# VS Code
.vscode

# Logs
*.log