<!-- NAVBAR -->

<header class="navbar">

<div class="logo">UberClone</div>

<nav>

<a routerLink="/">Home</a>
<a routerLink="/user/dashboard">User</a>
<a routerLink="/driver">Driver</a>
<a routerLink="/admin">Admin</a>
<a routerLink="/login">Login</a>

</nav>

</header>



<!-- HERO -->

<section class="hero">

  <div class="hero-left">
    <h1>Go anywhere with <span>UberClone</span></h1>
    <p>Book rides in seconds. Fast, safe and reliable.</p>

    <div class="ride-box">
      <input placeholder="📍 Pickup location" [(ngModel)]="pickup">
      <input placeholder="🏁 Drop location" [(ngModel)]="drop">
      <button (click)="bookRide()">Book Ride</button>
    </div>
  </div>

  <div class="hero-right">
    <img src="https://cdn-icons-png.flaticon.com/512/744/744465.png" />
  </div>

</section>


<!-- FEATURES -->

<section class="features">

<div class="feature-card">

<h3>🚕 Instant Ride Booking</h3>

<p>Book a ride within seconds with our smart system.</p>

</div>

<div class="feature-card">

<h3>📍 Live Ride Tracking</h3>

<p>Track your ride and driver in real time.</p>

</div>

<div class="feature-card">

<h3>💳 Secure Platform</h3>

<p>Safe and reliable ride management.</p>

</div>

</section>



<!-- DRIVER CTA -->

<section class="driver-section">

<h2>Drive with UberClone</h2>

<p>Earn money on your own schedule.</p>

<button routerLink="/register">
Become a Driver
</button>

</section>



<!-- STATS -->

<section class="stats">

<div>
<h2>1200+</h2>
<p>Rides Completed</p>
</div>

<div>
<h2>600+</h2>
<p>Happy Users</p>
</div>

<div>
<h2>250+</h2>
<p>Drivers</p>
</div>

</section>



<!-- FOOTER -->

<footer>

<p>© 2026 UberClone Platform</p>

</footer>