<div class="about-container">

  <h1 class="title">🚗 About Us</h1>

  <div class="card">
    <h2>Our Mission</h2>
    <p>
      Uber  is a smart ride-booking platform built for safe,
      affordable, and reliable transportation within Valsad.
      Our goal is to make local travel simple and secure for students and residents.
    </p>
  </div>

  <div class="card">
    <h2>Why Choose Us?</h2>
    <ul>
      <li>✔ Real-time ride tracking</li>
      <li>✔ Emergency SOS feature</li>
      <li>✔ Secure payment options</li>
      <li>✔ Driver rating system</li>
      <li>✔ Modern dark UI experience</li>
    </ul>
  </div>

  <div class="card">
    <h2>Service Area</h2>
    <p>
      Currently operating within Valsad including:
      Tithal Road, Abrama, Kosamba, Green Park & Railway Station.
    </p>
  </div>

  <div class="developer">
    Developed with  by <strong>Sufyan Tai,Haider Shaikh, Shahil Pathan</strong>
  </div>
    <div class="about-footer">
  <button class="back-btn" (click)="goBack()">
    ← Back to Dashboard
  </button>
</div>

</div>